body {
background-color: AntiqueWhite;
}
h {
color: Brown;
margin-left: 60px;
}
p {
color: Brown;
margin-left: 60px;
}
h2 {
color: Brown;
margin-left: 60px;
}
hr{
color :Browon;
margin-center: 80px;
}
