body {
background-color: AntiqueWhite;
}
h1 {
color: Brown;
margin-left: 60px;
}
h2 {
color: Brown;
margin-left: 40px;
}
h3 {
color: Brown;
margin-left: 40px;
}
h4 {
color: Brown;
margin-left: 40px;
}